<html>
  <head></head>
  <body>
    <p><span class="bold">Title:</span>
    <%= @book.title %></p>
    <p><span class="bold">body:</span>
    <%= @book.body %></p>
    
  <%= link_to "edit",edit_book_path(@book) %>
  " | "
  <%= link_to "back",books_path %>
  </body>
</html>